<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="container">
    <div class="card">
        <h2>Forgot Password</h2>
        <p class="subtitle">Enter your username or email</p>

        <input type="text" id="fp-identifier" placeholder="Username or Email">

        <button onclick="forgotPassword()">Continue</button>

        <p class="link">
            <a href="/api/accounts/login-page/">Back to Login</a>
        </p>
    </div>

    <div class="image-section">
       <img src="{% static 'images/Gemini_Generated_Image_lef841lef841lef8.png' %}" alt="Gym">
    </div>
</div>

<script src="{% static 'js/auth.js' %}"></script>
</body>
</html>
