<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="container">
    <div class="card">
        <h2>Reset Password</h2>
        <p class="subtitle">Enter your new password</p>

        <input type="password" id="new-password" placeholder="New Password">

        <button onclick="resetPassword()">Reset Password</button>
    </div>

    <div class="image-section">
       <img src="{% static 'images/Gemini_Generated_Image_lef841lef841lef8.png' %}" alt="Gym">
    </div>
</div>

<script src="{% static 'js/auth.js' %}"></script>
</body>
</html>
