<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
</head>
<body>

<div class="container">
    <div class="card">
        <h2>Reset Password</h2>
        <p class="subtitle">Enter your account and choose a new password</p>

        <input type="text" id="reset-identifier" placeholder="Email or Username">
        <input type="password" id="new-password" placeholder="New Password">
        <input type="password" id="confirm-password" placeholder="Confirm New Password">

        <button onclick="resetPassword()">Confirm Password</button>
    </div>

    <div class="image-section">
       <img src="{% static 'images/Gemini_Generated_Image_lef841lef841lef8.png' %}" alt="Gym">
    </div>
</div>

<script src="{% static 'js/auth.js' %}"></script>
<script>
const resetIdentifier = new URLSearchParams(window.location.search).get("identifier");
if (resetIdentifier) {
    document.getElementById("reset-identifier").value = resetIdentifier;
}
</script>
</body>
</html>
